<div class="mat-elevation-z8">
    <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>

    <mat-table [style.display]="loading === false ? 'block' : 'none'" #table [dataSource]="dataSource" matSort>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>      
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CustomerId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="job">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Job </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.job}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Operations </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-button color="primary" (click)="deleteCustomer(element.id)"><mat-icon>delete</mat-icon>
        </button> <button mat-button color="primary" (click)="editCustomer(element.id)"><mat-icon>edit</mat-icon></button> </mat-cell>
      </ng-container>
   

    </mat-table>
    <mat-paginator  #paginator [style.display]="loading === false ? 'block' : 'none'" [pageSize]="5" ></mat-paginator>
  </div>
  
  